* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    padding: 60px;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);
}

h2,
h3,
p {
    color: white;
}

h3 {
    color: #FFD700;
    text-transform: uppercase;
}

input {
    width: 100%;
    font-size: 1.2rem;
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: rgba(128, 128, 128, 0.959);
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: white;
}

.input::placeholder {
    color: #777;
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;

}

.card {
    align-content: center;
    border: 1px solid gray;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;

}

.card p {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.card img {
    max-height: 170px;
    width: 100%;
}